<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>signup</title>
        <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="auth/signup.css">
    </head>

    <body>
        <div class="signUp_section">
            <div class="container">
                <div class="signUp_container rounded">
                    <h3 style="letter-spacing: 2px;" class="text-center text-light pt-3">SIGNUP</h3>
                    <div class="form px-3 ">
                        <% if(err && signErr){ %>
                        <p style="letter-spacing: 1; color: brown;" class="text-center text-uppercase"><%= err  %> </p>
                        <% } %>
                        <form method="post" action="/signup" enctype="application/x-www-form-urlencoded">
                            <div class="mb-3">
                                <label for="exampleInputEmail1"
                                    class="form-label <%= err && signErr ? 'text-danger': 'text-light'  %>">
                                    Name</label>
                                <input type="text" class="form-control <%= err && signErr ? 'border-danger': ''  %>"
                                    id="exampleInputEmail1" aria-describedby="emailHelp" name="name"
                                    value="<%= existErr? name: ''  %>">

                            </div>
                            <div class="mb-3">

                                <label for="email"
                                    class="form-label <%= err && signErr ? 'text-danger': 'text-light'  %>">Email</label>
                                <% if(err && existErr){ %>
                                <p style="letter-spacing: 1px;" class=" text-warning mt-1"><%= err %></p>
                                <% } %>
                                <input type="email"
                                    class="form-control <%= err && signErr ||existErr ? 'border-danger': ''  %>"
                                    id="email" aria-describedby="emailHelp" name="email"
                                    value="<%= existErr? email: ''  %>">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1"
                                    class="form-label <%= err && signErr ? 'text-danger': 'text-light'  %>">Password</label>
                                <input type="password" class="form-control <%= err && signErr ? 'border-danger': ''  %>"
                                    id="exampleInputPassword1" name="password">
                            </div>
                            <button type="submit" style="letter-spacing: 2px;"
                                class="btn <%= err && signErr ? 'btn-danger': 'btn-light'  %> w-100">SIGN
                                UP</button>
                            <p style="letter-spacing: 1px;" class="text-center text-light mt-1 text-uppercase">Already
                                registered? <a style="text-decoration: none;" href="/login">login</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>